.resetPass-main {
  background-image: url("../../../assets/images/login-bck-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -2px;
  min-height: 100vh;
  user-select: none;
  position: relative;
}

.resetPass-main .login-container {
	max-width: 500px;
}

.resetPass-heading {
  width: fit-content;
  color: white;
  font-weight: 500;
  font-size: calc(1rem + 1.4vw);
  margin-bottom: 20px;
}

.resetPass-heading:after {
  content: "";
  display: block;
  width: 80%;
  padding-top: 3px;
  border-bottom: 3px solid #a3b18a;
}
