.main-intro {
    min-height: calc(100vh - 70px);
    height: fit-content;
    color: white;
    padding-top: 8vh;
    user-select: none;
    padding-bottom: 15vh;
    user-select: none;
    background-color: rgba(0, 12, 2, 0.89);
  }