.carousel-card {
  background-color: white;
  border: 1px solid;
  text-align: center;
  border-radius: 15px;
  margin: 5% 10%;
  box-shadow: -2px 2px 3px 4px rgba(58, 90, 64, 0.6);
  cursor: pointer;
}

.sm-carousel {
  width: 70%;
}

.lg-carousel {
  width: 100%;
}

.carousel-card.create-card {
  margin: 0;
  margin-top: 15px;
  margin-right: 40px;
}

.carousel-card.create-card .dash-blog-card{
  width: 200px;
}

.react-multiple-carousel__arrow--left {
  left: 0;
}

.react-multiple-carousel__arrow--right {
  right: 0;
}

.carousel-empty span {
  font-size: 24px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
  white-space: nowrap;
}

.carousel-empty .explore-btn {
  width: fit-content;
  padding: 8px 20px;
  white-space: nowrap;
}

@media (max-width: 1024px) {
  .sm-carousel {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .carousel-empty {
    text-align: center;
    margin: auto;
  }

  .carousel-empty a {
    display: block;
    width: fit-content;
    margin: auto;
  }

  .carousel-empty span {
    font-size: 16px;
  }
  
  .carousel-empty .explore-btn {
    padding: 6px 10px;
    font-size: 14px;
    margin: auto;
  }
}
