.changePass {
  min-height: calc(100vh - 70px);
  height: fit-content;
  background-color: rgba(0, 12, 2, 0.89);
  background-image: url("../../../assets/images/login-bck-img.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -2px;
  color: white;
  user-select: none;
}

.changePass-container {
  min-height: calc(100vh - 70px);
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0 10%;
  margin: auto;
  padding-top: 8vh;
  padding-bottom: 15vh;
}

.changePass-heading {
  font-size: calc(1rem + 1.5vw);
  margin: auto;
  width: fit-content;
}

.changePass-heading::after {
  content: "";
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 4px;
  height: 3px;
  border-radius: 5px;
  background-color: rgba(163, 177, 138, 1);
}

.changePass .register-form {
  margin: auto;
  margin-top: 40px;
  width: 35%;
}
