.create-blog {
  background-color: rgba(218, 215, 205, 1);
  padding-top: 6vh;
  padding-bottom: 12vh;
  min-height: 100vh;
}

.create-blog-cnt {
  width: 80%;
  margin: auto;
}

.create-blog-head {
  color: black;
  font-weight: 500;
  font-size: calc(1rem + 2vw);
  width: fit-content;
  margin-bottom: 30px;
}

.create-blog-head:after {
  content: "";
  display: block;
  margin-top: -5px;
  width: 70%;
  border-bottom: 4px solid rgba(88, 129, 87, 0.893);
}

.tox-tinymce {
  min-height: 60vh;
  border: none !important;
}

textarea.blog-desc {
  resize: none;
  width: 400px;
  outline: none;
  border-radius: 10px;
  margin-top: 3px;
  padding: 10px;
  border-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
}

.create-blog input {
  outline: none;
  border-radius: 5px;
  border-color: rgba(0, 0, 0, 0.3);
  background-color: rgba(255, 255, 255, 0.8);
  width: 400px;
  height: 40px;
  margin-top: 5px;
  padding-left: 10px;
}

.create-blog .multi-dd {
  width: 400px;
}

.create-blog .multi-dd .multi-select__control {
  border-color: rgba(52, 78, 65, 1) !important;
}

.create-blog .multi-dd .multi-select__placeholder {
  color: rgba(52, 78, 65, 1) !important;
  font-size: 18px;
}

.cb-head {
  font-size: 18px;
}

.create-blog .multi-select__dropdown-indicator {
  filter: invert(23%) sepia(5%) saturate(3185%) hue-rotate(97deg)
    brightness(30%) contrast(80%);
}

.tox-notifications-container {
  visibility: hidden;
}

.tox-statusbar {
  visibility: hidden;
}

.blog-img-upload {
  width: 400px;
}