.create-blog {
  background-color: rgba(218, 215, 205, 1);
  padding-top: 6vh;
  padding-bottom: 12vh;
  min-height: 100vh;
}

.create-blog-cnt {
  width: 80%;
  margin: auto;
}

.create-blog-head {
  color: black;
  font-weight: 500;
  font-size: calc(1rem + 2vw);
  width: fit-content;
  margin-bottom: 30px;
}

.create-blog-head:after {
  content: "";
  display: block;
  margin-top: -5px;
  width: 70%;
  border-bottom: 4px solid rgba(88, 129, 87, 0.893);
}

.tox-tinymce {
  min-height: 60vh;
  border: none !important;
}

.light-mode textarea {
  resize: none;
  width: 400px;
}

.create-blog input {
  width: 400px;
}

.cb-head {
  font-size: 18px;
}

.tox-notifications-container {
  visibility: hidden;
}

.tox-statusbar {
  visibility: hidden;
}

.blog-img-upload {
  width: 400px;
}

.blog-img-thumb {
  margin: auto;
  width: fit-content;
}

.blog-img-thumb img {
  width: 350px;
  aspect-ratio: 16/9;
  margin: auto;
  object-fit: fill;
  object-position: center;
  border-radius: 10px;
}

.create-blog-btn {
  background-color: rgba(58, 90, 64, 1);
  color: white !important;
  width: fit-content;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 1px;
  border-radius: 20px;
  padding: 10px 80px;
  cursor: pointer;
  margin: auto;
  outline: none;
}
