.single-blog {
  min-height: calc(100vh - 70px);
  background-color: rgba(218, 215, 205, 1);
  padding-top: 5vh;
  padding-bottom: 15vh;
  user-select: none;
}

.single-blog-cnt {
  width: 80%;
  margin: auto;
}

.single-blog-main {
  position: relative;
}

.single-blog-title {
  font-size: 40px;
  font-weight: 500;
  max-width: 60%;
  letter-spacing: 1px;
  line-height: 120%;
}

.single-blog-author {
  font-size: 26px;
  font-weight: 500;
  color: rgba(66, 60, 60, 1);
}

.single-blog-img img {
  height: 50vh;
  border-radius: 10px;
}

.single-blog-content {
  font-size: 20px;
  line-height: 150%;
}

.comment-likes svg {
  margin-top: -1px;
}

.blog-comment {
  font-size: 20px;
  width: 700px;
}

.comment-author {
  font-weight: 500;
}

.blog-comment-head {
  width: 80%;
}

.comments-heading {
  color: rgba(52, 78, 65, 1);
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 500;
}

.post-comment {
  position: relative;
  width: 90%;
  margin: auto;
}

.post-comment textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 20px;
  font-size: 18px;
}

.post-comment span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  color: rgba(52, 78, 65, 1);
  font-weight: 500;
  cursor: pointer;
}

.comment-content {
  white-space: pre-wrap;
  background-color: white;
  padding: 10px 20px;
  border-radius: 5px;
}

.blog-like-btn {
  background-color: white;
  width: fit-content;
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
  position: absolute;
  right: 0;
  top: 7px;
  transition: all 0.1s ease-in-out;
}

.blog-like-btn > * {
  padding: 10px 20px;
}

.blog-like-btn div:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 10px;
}

.blog-like-btn div:last-child {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  padding: 10px 14px;
}

.blog-like-btn.active {
  background-color: rgba(88, 129, 87, 1);
  color: white;
}

.comm-reply {
  font-size: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.comment-reply {
  position: relative;
  margin: auto;
  width: 95%;
  margin-left: 5%;
}

.comment-reply textarea {
  width: 100%;
  resize: none;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
  font-size: 18px;
}

.comment-reply span {
  font-size: 16px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  color: rgba(52, 78, 65, 1);
  font-weight: 500;
  cursor: pointer;
}

.bookmark-btn {
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-size: 18px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  text-transform: uppercase;
  cursor: pointer;
  position: absolute;
  top: 7px;
  left: 0;
}

.bookmark-btn.active {
  background-color: rgba(88, 129, 87, 1);
  color: white;
}

.bookmark-btn svg {
  margin-top: 3px;
}

.recommended-heading {
  font-size: 26px;
  font-weight: 500;
  margin: 80px 0 15px 0;
}

.recommended-loading {
  font-size: 24px;
  padding: 0 40px;
  color: rgb(91, 91, 91);
}

.recommended .carousel-card {
  height: 300px;
}

.recommended .d-b-card-upper {
  height: 50%;
}

.recommended .d-b-card-lower {
  padding: 10px;
}
