.admin-dash {
  background-color: rgba(52, 78, 65, 1);
  min-height: 100vh;
  min-width: 100vw;
  padding: 2%;
  position: relative;
}

.admin-dash-left {
  width: 20%;
}

.admin-dash-right {
  padding: 2% 4vw;
  width: 80%;
  background-color: rgba(163, 177, 138, 1);
  border-radius: 20px 0 0 20px;
  overflow-x: hidden;
  overflow-y: auto; 
  max-height: 91vh;
}

.admin-dash-right {
  scrollbar-width: thin;
  scrollbar-color: #465f52 #dad7cd;
}

/* Chrome, Edge, and Safari */
.admin-dash-right::-webkit-scrollbar {
  width: 10px;
}

.admin-dash-right::-webkit-scrollbar-track {
  background: #dad7cd;
}

.admin-dash-right::-webkit-scrollbar-thumb {
  background-color: #465f52;
  border-radius: 0px;
  border: 1px solid #ffffff8a;
}

.admin-profile-icon img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

.admin-profile-icon span {
  font-size: 32px;
  color: white;
  margin-left: 20px;
}

.admin-nav-item {
  color: white;
  font-size: 22px;
  margin-bottom: 20px;
  padding: 10px 30px;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
  font-weight: 500;
  transition: all 0.1s ease-in-out;
}

.admin-nav-item.active {
  background-color: rgba(163, 177, 138, 1);
  color: black;
}

.admin-logout {
  color: white;
  font-size: 25px;
  cursor: pointer;
  width: fit-content;
  margin: auto;
}

.admin-logout svg {
  font-size: 20px;
  margin-right: 10px;
}
