.admin-dash {
  min-height: 100vh;
  background-color: rgba(218, 215, 205, 1);
  padding-bottom: 15vh;
  user-select: none;
}

.admin-dash-container {
  width: 80%;
  padding-top: 100px;
  margin: auto;
}

.admin-dash .prof-btn-overlay {
  padding: 0;
  width: 110%;
}

.admin-dash .prof-btn-overlay .prof-btn-link {
  margin: 0;
  border-radius: 8px;
}

.admin-main-head {
  width: fit-content;
  color: black;
  font-weight: 500;
  font-size: calc(1rem + 1.5vw);
  margin-bottom: 50px;
}

.admin-main-head:after {
  content: "";
  display: block;
  width: 60%;
  border-bottom: 4px solid rgba(88, 129, 87, 0.893);
}

.pending-card {
  width: 70%;
  background-color: white;
  margin: 30px auto;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.383);
  border-radius: 10px;
  padding: 20px 40px;
}

.p-name {
  font-size: 30px;
  font-weight: 500;
}

.p-card-top {
  border-bottom: 2px solid;
  margin-bottom: 20px;
  padding-bottom: 5px;
}

.p-department {
  font-size: 20px;
  color: rgba(115, 105, 105, 1);
  font-weight: 500;
  margin-top: -5px;
}

.pending-card .approve-btn {
  color: white;
  border: 2px solid rgba(52, 78, 65, 1);
  border: none;
  padding: 8px 22px;
  border-radius: 10px;
  background-color: rgba(58, 90, 64, 1);
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.p-field {
  font-size: 18px;
  margin-bottom: 4px;
}

.p-field span {
  font-weight: 600;
  margin-right: 5px;
}

.no-pending {
  font-size: 24px;
  font-weight: 400;
}