.navbar {
  background-color: rgba(58, 90, 64, 1);
  height: 70px;
}

.navbar .container {
  background-color: rgba(58, 90, 64, 1);
  z-index: 1000;
  width: 100vw !important;
}

.navbar-brand.logo {
  color: white !important;
  font-size: 30px;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin-left: 40px;
}

.navbar a {
  text-decoration: none !important;
}

.navbar .navbar-toggler {
  border: none;
  filter: invert(99%) sepia(100%) saturate(0%) hue-rotate(97deg)
    brightness(111%) contrast(100%);
  outline: none !important;
  box-shadow: none !important;
}

.navbar-btn {
  color: white !important;
  font-size: 20px;
  font-weight: 500;
  line-height: 40px;
  margin: 0px 15px;
}

.navbar-btn {
  cursor: pointer;
  background-color: rgba(88, 129, 87, 1);
  padding: 0 30px;
  border-radius: 15px;
  width: fit-content;
}

.profile-btn {
  padding: 6px 20px 6px 14px;
  margin-right: 30px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
  background-color: rgba(88, 129, 87, 1);
  cursor: pointer;
  position: relative;
  width: fit-content;
}

.profile-btn img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
  z-index: 11;
}

.prof-btn-overlay {
  display: none;
  position: absolute;
  background-color: rgba(58, 90, 64, 1);
  top: 62px;
  left: 0px;
  width: fit-content;
  font-weight: 400;
  padding: 5px 0 10px 0;
  border-radius: 8px;
  z-index: 10;
}

.profile-btn input {
  display: none;
}

.profile-btn input:checked ~ .prof-btn-overlay {
  display: block;
  animation: pulse 0.5s;
}

.prof-btn-overlay .prof-btn-link {
  padding: 10px 18px;
  margin: 5px 0;
  color: white;
  text-decoration: none;
  display: flex;
  font-size: 20px;
  align-items: center;
  gap: 8px;
}

.prof-btn-overlay span {
  font-size: 16px;
  white-space: nowrap;
}

.prof-btn-overlay .prof-btn-link:hover {
  background-color: rgba(88, 129, 87, 1);
}

.dropdown-menu {
  margin-top: 6px !important;
  margin-left: 30px !important;
  background-color: rgba(58, 90, 64, 1) !important;
  border: none !important;
}

.dropdown-menu .dropdown-item {
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 6px 30px;
}

.dropdown-menu .dropdown-item:hover {
  background-color: rgba(88, 129, 87, 1);
  color: white;
}

@media (max-width: 992px) {
  .navbar .container {
    background-color: rgba(58, 90, 64, 1);
    z-index: 1000;
    width: 100vw !important;
    max-width: unset;
    padding: 0 20px;
  }

  .navbar .container a {
    display: block;
    width: fit-content !important;
  }

  .navbar .navbar-nav {
    margin-right: 0 !important;
    margin-bottom: 10px;
  }

  .navbar-nav .nav-link,
  .dropdown-toggle.nav-link {
    text-align: center;
    margin-left: 0px;
    margin: auto;
    width: fit-content;
  }

  .dropdown-menu .dropdown-item {
    margin: auto
  }

  .dropdown-menu.show {
    margin-left: 0 !important;
  }

  .navbar-login {
    margin: auto;
    margin-bottom: 20px;
  }

  .profile-btn {
    margin: auto;
    margin-bottom: 10px;
  }

  .dropdown-menu {
    margin-top: 0 !important;
    text-align: center !important;
    padding: 0 !important;
  }

  .dropdown-menu a {
    font-size: 20px !important;
    color: rgb(190, 187, 187) !important;
  }
}

@keyframes pulse {
  50% {
    transform: scale(0.98);
  }
}
