.dash-blog-card {
  height: 100%;
  width: 101%;
  margin-top: -1px;
  margin-left: -0.5%;
  border-radius: 15px;
  position: relative;
  color: black;
}

.d-b-card-upper {
  height: 40%;
  width: 100%;
  object-fit: fill;
  border-radius: 15px 15px 0 0;
}

.d-b-card-lower {
  padding: 6px 10px;
}

.d-b-card-lower .title {
  font-size: 18px;
  font-weight: 600;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.d-b-card-lower .description {
  margin-top: 8px;
  font-size: 12px;
  line-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  -webkit-box-orient: vertical;
  padding-bottom: 2px;
}

.d-b-card-lower .author {
  text-align: left;
  color: #736969;
  width: 85%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  bottom: 10px;
}

.dash-blog-card .author .name {
  font-size: 14px;
  font-weight: 500;
  text-align: right;
  line-height: 100%;
}

.dash-lg-carousel .d-b-card-lower {
  padding: 12px 14px;
}

.dash-lg-carousel .d-b-card-lower .title {
  font-size: 22px;
}

.dash-lg-carousel .d-b-card-lower .description {
  margin-top: 10px;
  font-size: 13px;
  text-align: justify;
  -webkit-line-clamp: 5;
  line-clamp: 5;
}

.dash-lg-carousel .d-b-card-lower .author {
  left: 50%;
  transform: translateX(-50%);
}

.dash-blog-card .author .name {
  font-size: 16px;
}

.blog-create-card {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.blog-create-card p {
  color: white;
  font-size: 40px;
  background-color: rgba(58, 90, 64, 1);
  height: 50px;
  width: 50px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  margin: auto;
}

.blog-create-card div {
  font-size: 22px;
  font-weight: 500;
  color: rgba(52, 78, 65, 1) !important;
}

.d-b-card-likes svg {
  margin-top: -1px;
  margin-right: 2px;
}

@media (max-width: 1400px) {
  .d-b-card-lower .title {
    font-size: 16px !important;
  }

  .d-b-card-lower .author div {
    font-size: 14px !important;
  }

  .dash-lg-carousel .d-b-card-lower .description {
    margin-top: 15px;
  }

  .dash-lg-carousel .d-b-card-lower {
    padding: 8px 12px;
  }
}
