.profile-main {
  background-color: #dad7cd;
  min-height: calc(100vh - 70px);
  user-select: none;
}

.profile-container {
  width: 80%;
  margin: auto;
}

.profile-top {
  border-bottom: 1px solid #0000004d;
  padding: 20px 10%;
}

.profile-top img {
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.profile-top-name {
  font-size: 46px;
  font-weight: 500;
  padding-left: 20px;
}

.prof-update-button {
  font-size: 18px;
  font-weight: 500;
  border-radius: 8px;
  text-align: center;
  padding: 6px 12px;
  text-transform: uppercase;
  background-color: #3a5a40;
  color: white;
  cursor: pointer;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
}

.CircularProgressbar {
  width: 100px;
  margin-right: 50px;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.4));
}

.CircularProgressbar text {
  transform: translate(-17%, 5%);
}

.profile-left {
  width: 50%;
  min-height: calc(100vh - 241px);
  border-right: 1px solid #0000004d;
}

.profile-right {
  width: 50%;
  padding-top: 50px;
}

.p-person-info {
  border-bottom: 1px solid #0000004d;
  padding-left: 15%;
  padding-bottom: 40px;
}

.prof-blk-head {
  padding-top: 30px;
  font-size: 28px;
}

.prof-det {
  width: 45%;
}

.prof-det-head {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
}

.prof-address-box {
  margin-top: 30px;
  max-width: 83%;
}

.prof-det-body {
  font-size: 18px;
  background-color: #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  max-width: min(90%, 250px);
  border-radius: 5px;
  padding: 4px 14px 4px 14px;
  margin-top: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.prof-det-body.prof-det-department {
  max-width: none;
  white-space: nowrap;
}

.prof-address {
  background-color: white;
  font-size: 18px;
  background-color: #d9d9d9;
  border: 1px solid rgba(0, 0, 0, 0.2);
  margin-left: 20px;
  padding: 10px 10px 6px 14px;
  border-radius: 5px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.prof-blk-subhead {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
  margin-bottom: -15px;
}

.prof-det-body.det-small {
  max-width: 150px;
}

.prof-det-small {
  width: 25%;
}

.accordion {
  max-width: 80%;
  margin: auto;
}

.accordion-item {
  margin-bottom: 20px;
  border-radius: 10px !important;
}

.accordion-header * {
  box-shadow: none !important;
  outline: none !important;
}

.accordion .accordion-button {
  background-color: rgba(52, 78, 65, 1);
  color: white;
  font-size: 18px;
  border-radius: 10px !important;
  transition: 0.1s all ease-in-out;
}

.accordion .accordion-button:not(.collapsed) {
  color: white;
  background-color: rgba(52, 78, 65, 1);
  border-radius: 10px 10px 0 0 !important;
}

.accordion-button:after {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.accordion .accordion-body {
  padding: 20px 20px;
  max-height: 300px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: rgba(88, 129, 87, 1) #9c9a94;
}

.accordion .accordion-body::-webkit-scrollbar {
  width: 6px;
}

.accordion .accordion-body::-webkit-scrollbar-track {
  background: #b3b0aa;
}

.accordion .accordion-body::-webkit-scrollbar-thumb {
  background-color: rgba(88, 129, 87, 1);
  border-radius: 0px;
  border: 1px solid #ffffff8a;
}

.interest-box {
  font-size: 18px;
  border: 1px solid #344e4164;
  background-color: #a3b18a;
  padding: 6px 14px;
  border-radius: 8px;
  color: black;
  margin-right: 20px;
  white-space: nowrap;
}

.resume-button {
  color: white;
  background-color: #3a5a40;
  font-size: 18px;
  padding: 6px 20px;
  line-height: 28px;
  border: none;
  border-radius: 14px;
  margin: auto;
}

.prof-resume {
  width: fit-content;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.resume-button svg {
  margin-left: 8px;
  font-size: 22px;
}

.proj-title {
  font-size: 18px;
  font-weight: 500;
}

.proj-role {
  font-size: 18px;
  color: rgb(94, 81, 81);
}

.proj-date {
  font-size: 14px;
  color: rgb(94, 81, 81);
}

.proj-domain {
  font-size: 14px;
  font-weight: 500;
}

.proj-contribution {
  width: 90%;
  line-height: 110%;
  margin: 5px 0;
}

.project {
  background-color: rgba(218, 215, 205, 0.5);
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.relevant-link .link-head{
  font-size: 18px;
  font-weight: 500;
}