.App .Toastify__toast {
  background: rgb(27, 41, 34);
}

.App .Toastify__toast-container {
  z-index: 10002
}

/* .App {
  padding-top: 70px;
} */

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Outfit", sans-serif;
}
