.profile-main-card {
  background-color: white;
  padding: 50px 0;
  width: 80%;
  aspect-ratio: 5/4;
  margin-left: auto;
  margin-top: 0px;
  border-radius: 30px;
  box-shadow: 0px 0px 5px 9px rgba(58, 90, 64, 0.316);
  text-align: center;
  border: 5px solid rgba(52, 78, 65, 1);
}

.profile-main-card img {
  box-shadow: 0px 0px 3px 3px rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  width: 60%;
  aspect-ratio: 1/1;
  margin-bottom: 5%;
}

.profile-main-card .name {
  color: black;
  font-size: 30px;
  font-weight: 500;
  line-height: 110%;
}

.profile-main-card .department {
  font-size: 22px;
  font-weight: 500;
  color: rgba(115, 105, 105, 1);
}

.profile-main-card .batch {
  font-weight: 500;
  line-height: 20px;
  color: rgba(115, 105, 105, 1);
}

@media (max-width: 1024px) and (min-width: 768px) {
  .profile-main-card {
    padding: 50px 10px;
    width: 90%;
    margin-left: auto;
  }
}

@media (max-width: 768px) {
  .profile-main-card {
    margin-right: auto;
    margin-top: 30px;
    padding: 30px 0;
    max-width: 350px;
    border-radius: 30px;
    box-shadow: 0px 0px 3px 5px rgba(58, 90, 64, 0.316);
    border: 4px solid rgba(52, 78, 65, 1);
  }

  .profile-main-card img {
    width: 40%;
  }

  .profile-main-card .name {
    font-size: 22px;
  }

  .profile-main-card .department {
    font-size: 18px;
  }

  .profile-main-card .batch {
    font-size: 14px;
  }
}
